Flask
matplotlib
numpy
pandas
scikit-learn
seaborn
pickle-mixin
gunicorn
opencv-python
pillow
tensorflow
keras
requests
python-dotenv
flask-cors
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
email-validator
